.feynman {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/feinman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
}
